//General
*{margin: 0; padding: 0;}

// Variables
$color1:#00021f;
$color2: #b41408;

// Page
body{
    background-color: $color1;
    font-family: 'Poppins', sans-serif !important;
  font-weight: 400;

    font-family: 'Montserrat', sans-serif;
}

h1{
    margin-top: 5%;
    margin-bottom: 20%;
}

.mots{
    border: 2px solid black;
    border-radius: 25px;
    padding: 2%;
}
.numbersline{
    margin: 0 10% 0 10%;
}
.footer{
    margin-top: 10%;
    color: #111111;
    padding: 5%;
    background-color: white;
}

